/* Import */
@import url('variable.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    /* text-align: justify; */
}

main{
    display: flex;
    flex-direction: column;
}

h1, h2, h3{
    font-family: "Comfortaa", sans-serif;
    margin-bottom: 10px;
}

p, a, ul{
    font-family: "Noto Sans", sans-serif;
}

ul{
    padding-left: 15px;
}

.link{
    text-decoration: none;
    color: var(--color-black);
}

div{
    margin-bottom: 3px;
}

aside, #container{
    padding: 20px;
}

/* Mobile < 427px */
/* Aside */
aside{
    background-color: var(--color-light-orange);
    display: flex;
    gap: 15px;
    flex-direction: column;

    #profilePicture{
        display: flex;
        justify-content: center;

        #imgProfil{
            width: 140px;
            height: 140px;
            border-radius: 15px;
            object-fit: cover;
            display: block;
            margin: 0 auto 15px;
        }
    }

    .iconBox{
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
        font-size: 14px;

        .icons{
            width: 18px;
        }
    }
}

#container{
    header, section{
        padding-bottom: 15px;
    }

    h2{
        padding-bottom: 5px;
        border-bottom: 4px solid var(--color-light-orange);
    }

    .timelineOfDegrees, .timelineOfExperiences{
        margin-bottom: 10px;
        .title{
            color: var(--color-orange);
            font-weight: bold;
        }
        .location{
            font-weight: bold;
        }
        .date{
            color: var(--color-gray);
            font-size: 13px;
        }
    }

    .skills{
        display: flex;
        flex-direction: column;
        gap: 20px;

        .skillsTitle{
            font-weight: bold;
        }
    }
}

/* Tablette ≥ 426px */
@media screen and (min-width: 426px) {
}

/* LapTop (NoteBock) ≥ 769px */
@media screen and (min-width: 769px) {
    main{
        display: flex;
        flex-direction: row;
    }

    aside {
        width: 35%;
    }

    #container {
        width: 65%;

        .skills{
            flex-direction: row;
            flex-wrap: wrap;
        }
    }
}

/* Desktop ≥ 1025px */
@media screen and (min-width: 1025px) {

    body {
        padding: 40px 0;
    }
            
    main{
        max-width: 900px;
        min-height: 1120px;
        /* A4 */
        margin: auto;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    }
}