/* Variable */
:root{
    --color-white: rgb(255,255,255);
    --color-black: rgb(0,0,0);
    --color-gray: rgb(119, 119, 119);
    --color-light-orange: rgb(255, 244, 236);
    --color-orange: rgb(255, 122, 0);
}